<div style='background-color:white;color:black;'>

  <h1>Editar Raza</h1>

  <div class="row">
    <div class="col-sm-8">
      <form action="raza/editarRaza" method="post">
        <div class="form-group">
          <label>Nombre</label>
          <input required type="text" class="form-control" placeholder="Nombre" name="nombre">
        </div>
        <input type="hidden" name="id" value="<%=raza.id%>">
        <button type="submit" class="btn btn-success">Crear Mascota</button>

      </form>
    </div>
  </div>
</div>
