<h1>Home</h1>

<h2>Titulo: <%= titulo %></h2>

<% var arregloMascota = [
    {
        nombre:'Sugar'
    },
    {
        nombre:'Zoe'
    },
    {
        nombre:'Minka'
    }]
%>

<h2><%= arregloMascota[0].nombre %></h2>

